.carousel-image {
    width: 500px; /* Ajusta el ancho según lo que desees */
    height: 300px; /* Ajusta la altura según lo que desees */
    object-fit: cover; /* Para asegurarte de que la imagen se ajuste correctamente al contenedor */
  }
  